@{
    ViewBag.Title = "Home Page";
}

<div>
    <div  id="root" class="col-lg-8">
        @Html.Partial("_RssItems")
    </div>
    <div id="log" class="col-lg-4">

    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    <script src="//localhost:1454/signalr/hubs" type="text/javascript"></script>
    @Scripts.Render("~/bundles/handlebar")
    @Scripts.Render("~/bundles/rss")
}
