<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.serviceModel>

    <services>
      <service behaviorConfiguration="configname"
               name="InterpressExam.WCF.Service.Service1">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="MyServiceBinding"
                  name="NetTcpBindingEndpoint" bindingName="MyServiceBinding"
                  contract="InterpressExam.WCF.Service.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="mex" binding="customBinding" bindingConfiguration="myMexTcpBinding"
                  name="MexTcpBindingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000" />
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>
</configuration>
